<web-app>
	<welcome-file-list>  
	   <welcome-file>index.html</welcome-file>  
	</welcome-file-list>  
	<!-- <servlet>
		<servlet-name>listEmployee</servlet-name>
		<servlet-class>ListEmployee</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>listEmployee</servlet-name>
		<url-pattern>/list</url-pattern>
	</servlet-mapping>
	 -->
	<servlet>
		<servlet-name>search</servlet-name>
		<servlet-class>SearchEmployee</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>search</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Add</servlet-name>
		<servlet-class>AddEmployee</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Add</servlet-name>
		<url-pattern>/add</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Update</servlet-name>
		<servlet-class>UpdateEmployee</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Update</servlet-name>
		<url-pattern>/update</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Delete</servlet-name>
		<servlet-class>DeleteEmployee</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Delete</servlet-name>
		<url-pattern>/delete</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteEmployee</servlet-name>
		<servlet-class>ListAllEmployee</servlet-class>
		<init-param>
			<param-name>control</param-name>
			<param-value>delete</param-value>
    	</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteEmployee</servlet-name>
		<url-pattern>/delete-emp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SearchEmployee</servlet-name>
		<servlet-class>ListAllEmployee</servlet-class>
		<init-param>
			<param-name>control</param-name>
			<param-value>search</param-value>
    	</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchEmployee</servlet-name>
		<url-pattern>/search-emp</url-pattern>
	</servlet-mapping>
</web-app>
