<web-app>  
  
<servlet>  
<servlet-name>listEmployee</servlet-name>  
<servlet-class>employee.ListEmployee</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>listEmployee</servlet-name>  
<url-pattern>/</url-pattern>  
</servlet-mapping>  
<servlet>  
<servlet-name>search</servlet-name>  
<servlet-class>employee.SearchEmployee</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>search</servlet-name>  
<url-pattern>/search</url-pattern>  
</servlet-mapping>  
  
  
</web-app>