grant codebase "file:./employee.jar" {
   permission javax.security.auth.AuthPermission "createLoginContext.employee";
   permission javax.security.auth.AuthPermission "doAsPrivileged";
   permission javax.security.auth.AuthPermission "modifyPrincipals";
};
